*{ font-family: arial, sans-serif;
  margin: 0;
}
body,
body > div {
  height: 100vh;
  width: 100vw;
}
#container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
#container > div {
  display: flex;
}
#navbar {
  padding: 2em;
  justify-content: space-evenly;
}
#main-section {
  flex-grow: 1;
}
#main-section > div {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.red {
  background-color: #b05f6d;
  color: white;
}
.blue {
  background-color: #275db3;
  color: white;
}

.home{
  background-color: #e1ebfa;
}

h1{
  color:white;
}

.orange{
  background-color: #f7c37e;
}

.sage{
  background-color: #c8decb;
}
.purple {
  background-color: #9c76b8;
}

.footer {
  padding-top: 35px;
  margin: 0 auto;
}

a {
  padding-right: 8px;
  padding-left: 8px;
  font-size: 25px;
  font-family: Courier New, monospace;
}

#main-section {
  padding: 30px;
  border-style: double;
  border-width: thick;
}

.pageHeader {
  color: black;
  margin: 0 auto;
  font-size: 72px;
  padding-top: 10px;
  text-decoration: underline;
}